* {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

@import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/forms";
@import "blocks/company";
@import "blocks/titles";
@import "blocks/advantages";
@import "blocks/production";
@import "blocks/stages";
@import "blocks/consultation";
@import "blocks/footer";

@import "blocks/media";