* {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}

@import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/forms";