.button {
    width: 194px;
    height: 46px;
    border: none;
    background: $color-main;
    border-radius: 4px;
    font-weight: 500;
    font-size: 22px;
    color: #000;
    transition: 0.2s all;
    &:hover{
        box-shadow: 3px 3px 15px $color-main;
    }
    &:active {
        background: #FFFFFF;
        color: $color-main;
    }
    &_submit {
        margin-top: 15px;
        width: 250px;
    }
    &_modal {
        margin-top: 15px;
        width: 100%;
    }
    &_consultation {
        display: block;
        margin: 20px auto 0 auto;
        height: 60px;
        width: 400px;
        font-size: 26px;
    }
}