.button {
    width: 194px;
    height: 46px;
    border: none;
    background: $color-main;
    border-radius: 4px;
    font-weight: 500;
    font-size: 22px;
    color: #000;
    &:active{
        box-shadow: 3px 3px 15px $color-main;
    }
    &__submit {
        margin-top: 15px;
        width: 250px;
        &:active{
            box-shadow: 3px 3px 15px $color-main;
        }
    }
}