.company {
    padding: 70px 20px;
    min-height: 500px;
    &__wrapper {
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        height: 400px;
        img {
            height: 100%;
        }
    }
    &__descr {
        margin-top: 10px;
        width: 350px;
    }
    &__title {
        font-weight: 900;
        font-size: 30px;
        color: #000;
        span {
            color:$color-main;
        }
    }
    &__text {
        margin-top: 15px;
        font-weight: 500;
        font-size: 20px;
        color: #000;
    }
}